@use 'viewport';

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;

  .logo {
    display: flex;
    gap: 0.5rem;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .close {
    padding-right: 1rem;
    display: none;
    background: none;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 88vh;
  position: relative;
  top: 1.5rem;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: none;
  }

  .link {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;

    svg {
      font-size: 1.6rem;
      transition: all 0.3s ease;
    }

    &:last-child {
      position: absolute;
      bottom: 2rem;
      width: 100%;
    }

    &.active {
      width: 100%;
      color: var(--color-primary);
      background-color: var(--color-light);
      margin-left: 0;

      &::before {
        content: '';
        width: 6px;
        height: 18px;
        background-color: var(--color-primary);
      }

      svg {
        color: var(--color-primary);
        margin-left: calc(1rem - 3px);
      }
    }

    &:hover {
      color: var(--color-primary);

      svg {
        margin-left: 0.6rem;
      }
    }
  }

  .message-count {
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
  }
}

@include viewport.desktop {
  .logo h2 {
    display: none;
  }

  .sidebar {
    h3 {
      display: none;
    }

    .link {
      width: 5.6rem;

      &:last-child {
        position: relative;
        margin-top: 1.8rem;
      }
    }
  }
}

@include viewport.mobile {
  .toggle {
    .logo {
      margin-left: 1rem;

      h2 {
        display: inline;
      }
    }

    .close {
      display: inline-block;
      cursor: pointer;
    }
  }

  .sidebar {
    h3 {
      display: inline;
    }

    a {
      width: 100%;
      height: 3.4rem;

      &:last-child {
        position: absolute;
        bottom: 5rem;
      }
    }
  }
}