@use 'viewport';

.close {
  background: none;
}

.sidebar {
  &:hover {
    box-shadow: none;
  }

  .link {
    &:last-child {
      @apply $-absolute $-w-full $-bottom-8;
    }

    &.active {
      @apply $-w-full $-text-[#6c9bcf] $-bg-[rgba(132,139,200,0.18)] $-ml-0;

      &::before {
        @apply $-content-[''] $-w-1.5 $-h-[18px] $-bg-[#6c9bcf];
      }

      svg {
        @apply $-text-[#6c9bcf] $-ml-[calc(1rem_-_3px)];
      }
    }

    &:hover {
      color: #6c9bcf;

      svg {
        margin-left: 0.6rem;
      }
    }
  }
}

@include viewport.desktop {
  .logo h2 {
    display: none;
  }

  .sidebar {
    h3 {
      display: none;
    }

    .link {
      width: 5.6rem;

      &:last-child {
        position: relative;
        margin-top: 1.8rem;
      }
    }
  }
}

@include viewport.mobile {
  .toggle {
    .logo {
      margin-left: 1rem;

      h2 {
        display: inline;
      }
    }

    .close {
      display: inline-block;
      cursor: pointer;
    }
  }

  .sidebar {
    h3 {
      display: inline;
    }

    a {
      width: 100%;
      height: 3.4rem;

      &:last-child {
        position: absolute;
        bottom: 5rem;
      }
    }
  }
}
